/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* tailwind css and daisyui  */
@import "tailwindcss";
@plugin "daisyui";

/* Custome Css file here  */
@theme {
  --font-knewave: "Knewave", system-ui;
  --font-poppins: "Poppins", sans-serif;

  --color-purpleColor: #7754f6;
  --color-blueColor: #0574f9;
  --color-greenColor: #17be7d;
  --color-orangeColor: #ff4136;
  --color-pinkColor: #f676b1;
  --color-bg1: #f8f7fe;
  --color-bg2: #e3f7ee;
  --color-bg3: #fef7ec;

  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

html {
  @apply font-poppins;
}
.custom-swiper .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 6px !important;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #ff7b00;
  transform: scale(1.4);
}
